*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color:#001ed4;
}

.app{
    width:400px;
    max-width:600px;
    background-color:#fff;
    margin:100px auto 0;
    padding:30px;
    border-radius:30px;

}

.app h1{
    font-size: 25px;
    color:#333;
    font-weight: 600;
    border-bottom: 1px solid black;
    padding-bottom: 30px;

}

.quiz{
    padding: 20px 0;

}
.quiz h2{
    font-size:20px;
    color:#555;
    font-weight:500;
}
.btn{
    color: #222;
    background: #fff;
    width:100%;
    font-size: 500;
    border:2px solid #222;
    padding:10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor:pointer;
    transition: all 0.3s ease;
}
.btn:hover{
    background-color: #222;
    color:#fff;
}

#btn-next{
    background-color: #001ed4;
    color:#fff;
    font-weight:500;
    width:150px;
    border: 0px;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}


.correct{
 background-color: #9aeb9a;
}
.incorrect{
    background-color: #ff9393;
}

